[SddmGreeterTheme]
Name=NetLogin
Description=NetLogin for Plasma 6
Author=lma0
License=GPLv3
Type=sddm-theme
Version=1.0
Website=https://www.pling.com/p/2225131/
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=netlogin
Theme-API=${COMPONENTS_VERSION}
QtVersion=6
